@font-face {
  font-family: 'Silk Screen';
  src: url('../../static/fonts/slkscr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$primary--50: #fff4f4;
$primary--100: #ffebeb;
$primary--200: #ffe1e1;
$primary--300: #ffd1d1;
$primary--400: #ffc0c0;
$primary--500: #ffaeae;
$primary--600: #ff8181;
$primary--700: #ff9a9a;
$primary--800: #ff6f6f;

$primary: $primary--400;

$main-padding: 1rem;
$toolbar-height: 55px;