.blinkie-frames {
  display: flex;
  flex: 1;
  flex-direction: column;
  
  &__container {
    @include container-box;
    height: inherit;
    overflow-y: auto;
    flex: 1;
    background-color: white;
  }

  .blinkie-frame {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;

    span {
      flex: 1;
    }

    &:hover {
      background-color: $primary--100;
    }
    
    &.active {
      background-color: $primary--300;
    }

    &__buttons {
      display: flex;
      opacity: 0;
    }

    &:hover {
      .blinkie-frame__buttons {
        opacity: 100%;
      }
    }
  }
}