.header {
  display: flex;
  align-items: center;
  margin: 3rem 0;

  &__text {
    flex: 1;
    display: flex;
    align-items: center;

    h1 {
      margin-right: 1rem;
    }

    .box-container {
      flex: 1;
    }
  }

  &__preview {
    height: 100px;
    width: 100px;
    border: 3px dashed rgb(88, 88, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }
}

$blinkie-color: $primary;
$blinkie-color-alt: $primary--50;
$blinkie-box-shadow: $primary--700;

@keyframes blinkie-color {
  0% { background-color: $blinkie-color; }
  45% { background-color: $blinkie-color; }
  50% { background-color: $blinkie-color-alt; }
  55% { background-color: $blinkie-color; }
  100% { background-color: $blinkie-color; }
}

.blinkie-block {
  $shadow-size: 3px; 
  background-color: $blinkie-color;
  border-right: $shadow-size solid $blinkie-box-shadow;
  border-bottom: $shadow-size solid $blinkie-box-shadow;
  margin-right: $shadow-size;
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  animation-iteration-count: infinite;
  animation-name: blinkie-color;

  &--active { 
    background-color: #e4ffe1;
  }
}