@font-face {
  font-family: 'silkscreennormal';
  src: url('../../static/fonts/slkscr-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3d3d3;
  font-size: 1.8rem;
  margin: 0;
  min-height: 100vh;
  display: flex;
  font-family: 'silkscreennormal', sans-serif;
}

h1, h2 {
  font-weight: normal;
}

.dragging * {
  user-select: none;
}

#app,
.main {
  width: 100%;
  height: inherit;
}

.main {
  padding: 3rem 2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  display: flex;
}

.blinkie-items {
  background-color: white;
  flex: 1;
  margin-right: 1rem;
}

.blinkie-item {
  display: inline-block;
  padding: 1rem;
}

.canvas__container {
  background-color: white;
  margin-right: 1rem;
}

.canvas {
  width: 500px;
  height: 500px;
}

.blinkie-frames {
  width: 100px;
  background-color: white;
}

.blinkie-frame {
  width: 100%;
}

.blinkie-frame.active {
  background-color: #eee;
}